extends ../includes/template
block main
  div.header 
    div.header__hero
      header(class="header-main") 
        div(class="contenedor-header l-container")
          div.main-logo
            a(href="#")
              img(class="logo-img" src="img/logo.png", alt="")
          div.content-menu
            nav.main-menu
              ul(class="main-nav")
                li(class="main-nav__item")
                  a(class="main-nav__item__link--active") home
                li(class="main-nav__item")
                  a(class="main-nav__item__link") about
                li(class="main-nav__item")
                  a(class="main-nav__item__link") features
                li(class="main-nav__item")
                  a(class="main-nav__item__link") blog
                li(class="main-nav__item")
                  a(class="main-nav__item__link") order
                li(class="main-nav__item")
                  a(class="main-nav__item__link") contact
      .banner-main
        div(class="banner-main__content l-container")
          h1.banner-main__content__title BOOK CAB NOW
          h2.banner-main__content__subtitle +123 4567 8900
          h3.banner-main__content__web www.taxtapp.com.pe
          img(class="banner-main__content__img" src="img/taxi.png", alt="")

  section.information
    div(class="information__content l-container--secondary")
      .information__content__about
        h4.information__content__about__subtitle BEST IN CITY
        h1.information__content__about__title TRUSTED CAB SERVIES IN NEW YORK
        p.information__content__about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#" class="information__content__about__button btn btn--primary") READ MORE 
      .information__content__contact
        .contact-header
          h1.contact-heade__title BOOK A 
            span CAB
        form.form-contact(action="")
          div.row-input
            input(type="text" placeholder="Name")
            input(type="text" placeholder="Phone")
            input(type="text" placeholder="When")
            input(type="text" placeholder="Time")
            input(type="text" placeholder="Start")
            input(type="text" placeholder="End")
            select(placeholder="Choose Vehicle")
              option(value="") Chosse Vehicle
          div.row-button
            button(class="btn btn--secondary") SUBMIT

  section.tariffs
    div(class="tariffs__content l-container--secondary")
      .tariffs__content__title
        h1 OUR
        h2 TARIFFS
      .tariffs__content__card
        .tariffs__content__card__cards
          .tariffs__content__card__cards__back
            img(src="img/taxi.png", alt="")       
            h2 ECONOMY CLASS
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h4 $1,5/MI
            a(class="btn btn--third") READ MORE
        .tariffs__content__card__cards
          .tariffs__content__card__cards__back
            img(src="img/taxi.png", alt="")       
            h2 ECONOMY CLASS
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h4 $1,5/MI
            a(class="btn btn--third") READ MORE
        .tariffs__content__card__cards
          .tariffs__content__card__cards__back
            img(src="img/taxi.png", alt="")       
            h2 ECONOMY CLASS
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h4 $1,5/MI
            a(class="btn btn--third") READ MORE
  section.characteristics   
    div(class="characteristics__content l-container--secondary")
      .characteristics__content__title
        h1 WE DO BEST
        h2 THAN YOU WISH
      .characteristics__content__box
        .characteristics__content__box__boxes  
          .boxes-one 
            .circle
              i.icon ♥            
          .boxes-two 
            h3.title HOME PICKUP
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .characteristics__content__box__boxes  
          .boxes-one 
            .circle
              i.icon ♥           
          .boxes-two 
            h3.title FAST BOOKING
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .characteristics__content__box__boxes  
          .boxes-one 
            .circle
              i.icon ♥            
          .boxes-two 
            h3.title BONUSSES FOR RIDE
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .characteristics__content__box__boxes  
          .boxes-one 
            .circle
              i.icon ♥           
          .boxes-two 
            h3.title GPS SEARCHING
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .characteristics__content__button
        a(class="btn btn--third") READ MORE
  
  .dowloand
     div(class="dowloand__content l-container--secondary")
      .dowloand__content__title
        h1 DOWNLOAD
        h2 BEST CAB SERVIES
      .dowloand__content__information
        .dowloand__content__information__item
          .dowloand__content__information__item__one
            .row-one
              h4 Dowload the Cab boucher app free! Get Exciting New Offers
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row-two
              a(class="btn btn--app" href="") Google Play
              a(class="btn btn--app" href="") App Store
          .dowloand__content__information__item__two
            img(src="img/mano.jpeg", alt="")
  .testimonials
     div(class="testimonials__content")
      .testimonials__content__back 
        div(class="testimonials__content__back__title l-container--secondary")
          h1 HAPPY CLIENT'S
          h2 TESTIMONIALS
        div(class="testimonials__content__back__box l-container--secondary ")
          .testimonials__content__back__box__boxes
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.row-profile
              img(src="img/profile.jpg", alt="alt")
              div.name
                h3 JHON
                h4 BUSSINES MAN
          .testimonials__content__back__box__boxes
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.row-profile
              img(src="img/profile-2.png", alt="alt")
              div.name
                h3 JHON
                h4 BUSSINES MAN

        
      .testimonials__content__number 
        .testimonials__content__number__title
          h4 WE ARE READY TO TAKE YOUR CALL 24 HOURS,7 DAYS
          h2 +123 4567 8900
  footer.footer
    div(class="footer__content l-container--secondary") 
      .footer__content__item
        .footer__content__item__about  
          h2 ABOUT CAB HUB
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          ul
            li
              a(href="") fa
            li
              a(href="") gm           
            li
              a(href="") tw
            li 
              a(href="") in
        .footer__content__item__download
          h2 DOWNLOAD
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          ul
            li Android Users 
              i ♥              
            li IOS Users 
              i ♥
        .footer__content__item__contact
           h2 CONTACT
           ul
            li
              i ♥
              span  New York 
            li
              i ♥ 
              span New York 
            li
              i ♥ 
              span New York 
            li
              i ♥ 
              span New York 
    .foot-bottom
      p © 2012 - 2018 TaxitApp - Todos los derechos reservados. - Powered by Gabriel Viza










    


        

  