*,:after,:before{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"sans-serif";
}

.l-container{
  max-width:1344px;
}

.l-container,.l-container--secondary{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.l-container--secondary{
  max-width:1024px;
}

.btn{
  font-family:sans-serif;
  font-size:1em;
  border-radius:3px;
  transition:.25s ease-out;
}

.btn--primary{
  border:1px solid #000;
  background:transparent;
  color:#000;
}

.btn--primary:hover{
  transition:.25s ease-out;
  background:#000;
  color:#ffc71a;
}

.btn--secondary{
  border:none;
  background:#000;
  color:#fff;
}

.btn--secondary:hover{
  transition:.25s ease-out;
  background:#ffc71a;
  color:#000;
}

.btn--third{
  border:none;
  background:#ffc71a;
  color:#000;
}

.btn--app{
  border:none;
  background:#000;
  color:#fff;
  transition:.25s ease-out;
  border:1px solid #000;
}

.btn--app:hover{
  transition:.25s ease-out;
  background:transparent;
  border:1px solid #000;
  color:#000;
}

.header__hero{
  height:auto;
  background-image:url(/img/hero.jpeg);
  background-attachment:fixed;
  background-size:cover;
  background-position:50%;
  position:relative;
  top:0;
  left:0;
  width:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.header__hero .header-main .contenedor-header{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  height:90px;
  padding:50px 0;
}

.header__hero .header-main .contenedor-header .main-logo a img{
  width:50%;
}

.header__hero .header-main .contenedor-header .content-menu .main-menu{
  margin-left:20px;
}

.header__hero .header-main .contenedor-header .content-menu .main-menu .main-nav{
  list-style:none;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.header__hero .header-main .contenedor-header .content-menu .main-menu .main-nav__item{
  padding:0 .8em;
  text-transform:uppercase;
  font-family:sans-serif;
  font-size:.8em;
  font-weight:700;
  cursor:pointer;
}

.header__hero .header-main .contenedor-header .content-menu .main-menu .main-nav__item__link{
  color:#fff;
}

.header__hero .header-main .contenedor-header .content-menu .main-menu .main-nav__item__link--active{
  padding:10px 20px;
  border-radius:30px;
  background:#ffc71a;
  color:#000;
}

.header__hero .banner-main{
  color:#fff;
  text-align:center;
  font-family:sans-serif;
  position:relative;
}

.header__hero .banner-main__content{
  padding:50px 0 0;
}

.header__hero .banner-main__content__title{
  margin:0;
  color:#ffc71a;
}

.header__hero .banner-main__content__subtitle{
  margin:0;
  font-size:4em;
}

.header__hero .banner-main__content__web{
  margin:0;
  font-size:1.5em;
}

.header__hero .banner-main__content__img{
  position:relative;
  top:150px;
  width:60%;
}

.information{
  background:#ffc71a;
  height:auto;
  padding:5em 0;
}

.information .information__content{
  padding:0;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:45% 40%;
      grid-template-columns:45% 40%;
  grid-gap:15%;
}

.information .information__content__about{
  font-family:sans-serif;
}

.information .information__content__about__subtitle{
  margin:0;
  font-size:1.3em;
}

.information .information__content__about__title{
  margin:10px 0;
  font-size:2em;
}

.information .information__content__about__text{
  margin:0 0 50px;
  text-align:left;
  padding:0;
  font-size:.9em;
}

.information .information__content__about__button{
  text-decoration:none;
  padding:15px 20px;
}

.information .information__content__contact{
  background:#fff;
  border-radius:5px;
  box-shadow:0 4px 4px 0 rgba(0,0,0,.5),0 1px 5px 0 rgba(0,0,0,.2),0 5px 5px -5px rgba(0,0,0,.1);
}

.information .information__content__contact .contact-header{
  background:#000;
}

.information .information__content__contact .contact-header h1{
  padding:15px 0 15px 30px;
  color:#fff;
  margin:0;
}

.information .information__content__contact .contact-header h1 span{
  color:#ffc71a;
}

.information .information__content__contact .form-contact{
  padding:15px 30px;
}

.information .information__content__contact .form-contact .row-input{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

.information .information__content__contact .form-contact .row-input input,.information .information__content__contact .form-contact .row-input select{
  font-family:sans-serif;
  font-weight:700;
  width:150px;
  display:block;
  border:none;
  margin:15px 0 0;
  padding:10px 0;
  border-bottom:1px solid #000;
  transition:all .3s cubic-bezier(.64,.09,.08,1);
  background-position:-200px 0;
  background-size:200px 100%;
  background-repeat:no-repeat;
  color:#000;
}

.information .information__content__contact .form-contact .row-input input:focus,.information .information__content__contact .form-contact .row-input input:valid,.information .information__content__contact .form-contact .row-input select:focus,.information .information__content__contact .form-contact .row-input select:valid{
  box-shadow:none;
  outline:none;
  background-position:0 0;
}

.information .information__content__contact .form-contact .row-input input:focus::-webkit-input-placeholder,.information .information__content__contact .form-contact .row-input input:valid::-webkit-input-placeholder,.information .information__content__contact .form-contact .row-input select:focus::-webkit-input-placeholder,.information .information__content__contact .form-contact .row-input select:valid::-webkit-input-placeholder{
  font-family:sans-serif;
  font-weight:700;
  color:#000;
  font-size:1.2em;
  visibility:visible !important;
}

.information .information__content__contact .form-contact .row-input input:focus:-ms-input-placeholder,.information .information__content__contact .form-contact .row-input input:valid:-ms-input-placeholder,.information .information__content__contact .form-contact .row-input select:focus:-ms-input-placeholder,.information .information__content__contact .form-contact .row-input select:valid:-ms-input-placeholder{
  font-family:sans-serif;
  font-weight:700;
  color:#000;
  font-size:1.2em;
  visibility:visible !important;
}

.information .information__content__contact .form-contact .row-input input:focus::placeholder,.information .information__content__contact .form-contact .row-input input:valid::placeholder,.information .information__content__contact .form-contact .row-input select:focus::placeholder,.information .information__content__contact .form-contact .row-input select:valid::placeholder{
  font-family:sans-serif;
  font-weight:700;
  color:#000;
  font-size:1.2em;
  visibility:visible !important;
}

.information .information__content__contact .form-contact .row-input select{
  width:100%;
}

.information .information__content__contact .form-contact .row-button button{
  padding:15px 20px;
  margin:30px 0;
  width:100%;
}

.tariffs__content{
  padding:50px 0;
  text-align:center;
}

.tariffs__content__title{
  margin:10px 0;
  font-family:sans-serif;
}

.tariffs__content__title h1{
  margin:0;
  color:#ffc71a;
  font-size:2em;
}

.tariffs__content__title h2{
  margin:5px 0;
  font-size:2em;
}

.tariffs__content__card{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr 1fr;
      grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:2em;
}

.tariffs__content__card__cards{
  padding:100px 0;
}

.tariffs__content__card__cards__back{
  border-radius:3px;
  margin:0;
  transition:.25s ease-out;
  background:linear-gradient(180deg,#fff 10%,hsla(0,0%,80%,.5) 90%);
  font-family:sans-serif;
  padding:0 20px 50px;
}

.tariffs__content__card__cards__back:hover{
  background:linear-gradient(180deg,#fff 20%,#ffc71a 80%);
  transition:.25s ease-out;
}

.tariffs__content__card__cards__back img{
  width:100%;
}

.tariffs__content__card__cards__back h2{
  margin:0;
}

.tariffs__content__card__cards__back p{
  margin:25px 0;
  font-size:.9em;
}

.tariffs__content__card__cards__back h4{
  margin:30px 0;
  color:#ffc71a;
  font-size:2em;
}

.tariffs__content__card__cards__back a{
  cursor:pointer;
  padding:15px 20px;
  font-weight:700;
}

.tariffs__content__card__cards__back:hover>a{
  background:#000;
  color:#fff;
  transition:.25s ease-out;
}

.tariffs__content__card__cards__back:hover>h4{
  color:#000;
}

.characteristics{
  background-image:url(/img/about.jpg);
  background-size:cover;
  background-position:50%;
  background-attachment:fixed;
  position:relative;
  top:0;
  left:0;
  width:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.characteristics__content{
  padding:50px 0;
  text-align:center;
}

.characteristics__content__title{
  margin:10px 0;
  font-family:sans-serif;
}

.characteristics__content__title h1{
  margin:0;
  color:#ffc71a;
  font-size:2em;
}

.characteristics__content__title h2{
  margin:5px 0;
  font-size:2em;
  color:#fff;
}

.characteristics__content__box{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr;
      grid-template-columns:1fr 1fr;
  -ms-grid-rows:1fr 1fr;
      grid-template-rows:1fr 1fr;
  grid-row-gap:2em;
  grid-column-gap:5em;
}

.characteristics__content__box__boxes{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:30% 70%;
      grid-template-columns:30% 70%;
}

.characteristics__content__box__boxes .boxes-one{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-item-align:center;
      align-self:center;
  margin:0 auto;
}

.characteristics__content__box__boxes .boxes-one .circle{
  width:100px;
  height:100px;
  border-radius:50%;
  background:#ffc71a;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.characteristics__content__box__boxes .boxes-one .circle .icon{
  width:100%;
  margin:0 auto;
  font-size:2.5em;
  font-weight:700;
}

.characteristics__content__box__boxes .boxes-two{
  text-align:left;
}

.characteristics__content__box__boxes .boxes-two .title{
  padding:50px 0 0;
  margin:0;
  color:#ffc71a;
  font-size:1.2em;
}

.characteristics__content__box__boxes .boxes-two .text{
  color:#fff;
  font-size:1em;
}

.characteristics__content__button{
  margin:50px 0 0;
  padding:50px 0;
}

.characteristics__content__button a{
  font-family:sans-serif;
  font-weight:700;
  padding:15px 20px;
  cursor:pointer;
}

.characteristics__content__button a:hover{
  background:transparent;
  border:1px solid #ffc71a;
  color:#fff;
}

.dowloand__content{
  padding:50px 0 0;
  text-align:center;
}

.dowloand__content__title{
  margin:10px 0;
  font-family:sans-serif;
}

.dowloand__content__title h1{
  margin:0;
  color:#ffc71a;
  font-size:1.8em;
}

.dowloand__content__title h2{
  margin:5px 0;
  font-size:2em;
  color:#000;
}

.dowloand__content__information__item{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:40% 60%;
      grid-template-columns:40% 60%;
  grid-column-gap:4em;
}

.dowloand__content__information__item__one .row-one{
  text-align:left;
  font-family:sans-serif;
}

.dowloand__content__information__item__one .row-one p{
  font-size:.9em;
  margin:40px 0;
}

.dowloand__content__information__item__one .row-two{
  text-align:left;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr;
      grid-template-columns:1fr 1fr;
  grid-gap:2em;
}

.dowloand__content__information__item__one .row-two a{
  border-radius:50px;
  padding:15px 20px;
  text-decoration:none;
  text-align:center;
}

.dowloand__content__information__item__two img{
  width:120%;
  position:relative;
  top:10px;
  z-index:1;
}

.testimonials{
  position:relative;
  z-index:2;
}

.testimonials__content{
  display:-ms-grid;
  display:grid;
  -ms-grid-rows:75% 25%;
      grid-template-rows:75% 25%;
}

.testimonials__content__back{
  background-image:url(/img/testimonials.jpeg);
  background-size:cover;
  background-position:50%;
  background-attachment:fixed;
  position:relative;
  top:0;
  left:0;
  width:100%;
  -o-object-fit:cover;
  object-fit:cover;
  padding:50px 0 0;
}

.testimonials__content__back__title{
  text-align:center;
}

.testimonials__content__back__title h1{
  margin:0;
  color:#ffc71a;
  font-size:1.5em;
}

.testimonials__content__back__title h2{
  margin:5px 0;
  font-size:2em;
  color:#fff;
}

.testimonials__content__back__box{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr;
      grid-template-columns:1fr 1fr;
  grid-column-gap:2em;
  padding:100px 0;
}

.testimonials__content__back__box__boxes{
  border-radius:50px;
  color:#fff;
  background:#000;
  padding:30px;
  font-family:sans-serif;
}

.testimonials__content__back__box__boxes .text{
  margin:0;
  padding:0 0 20px;
  font-size:.9em;
}

.testimonials__content__back__box__boxes .row-profile{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:20% 70%;
      grid-template-columns:20% 70%;
  grid-column-gap:1.5em;
}

.testimonials__content__back__box__boxes .row-profile img{
  width:100px;
  height:100px;
  border-radius:50%;
}

.testimonials__content__back__box__boxes .row-profile .name h3{
  color:#ffc71a;
  margin:0;
}

.testimonials__content__back__box__boxes .row-profile .name h4{
  margin:0;
  color:#fff;
}

.testimonials__content__number{
  background:#ffc71a;
}

.testimonials__content__number__title{
  width:100%;
  font-family:sans-serif;
  font-weight:700;
  text-align:center;
  padding:50px 0;
}

.testimonials__content__number__title h4{
  font-size:1.5em;
  margin:0;
}

.testimonials__content__number__title h2{
  font-size:3em;
  margin:0;
}

.footer{
  background-image:url(/img/footer.jpeg);
  background-size:cover;
  background-position:50%;
  position:relative;
  top:0;
  left:0;
  width:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.footer__content{
  color:#fff;
  padding:50px 0;
}

.footer__content__item{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(1fr)[3];
      grid-template-columns:repeat(3,1fr);
  grid-column-gap:5em;
}

.footer__content__item__about{
  font-family:sans-serif;
}

.footer__content__item__about h2{
  font-size:1.2em;
  border-bottom:2px solid #ffc71a;
  padding-bottom:20px;
}

.footer__content__item__about p{
  font-size:.8em;
}

.footer__content__item__about ul{
  list-style:none;
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.footer__content__item__about ul li{
  padding-right:10px;
  margin:15px 0;
}

.footer__content__item__about ul li a{
  font-family:sans-serif;
  background:#ffc71a;
  padding:10px;
  color:#000;
  font-weight:700;
  text-decoration:none;
}

.footer__content__item__download{
  font-family:sans-serif;
}

.footer__content__item__download h2{
  font-size:1.2em;
  border-bottom:2px solid #ffc71a;
  padding-bottom:20px;
}

.footer__content__item__download p{
  font-size:.8em;
}

.footer__content__item__download ul{
  padding:0;
  list-style:none;
}

.footer__content__item__download ul li{
  color:#ffc71a;
}

.footer__content__item__download ul li i{
  color:#fff;
  padding-left:10px;
}

.footer__content__item__contact{
  font-family:sans-serif;
}

.footer__content__item__contact h2{
  font-size:1.2em;
  border-bottom:2px solid #ffc71a;
  padding-bottom:20px;
}

.footer__content__item__contact ul{
  list-style:none;
  padding:0;
}

.footer__content__item__contact ul li{
  margin:10px 0;
}

.footer__content__item__contact ul li i{
  padding-right:10px;
}

.footer .foot-bottom{
  background:#000;
  text-align:center;
  font-family:sans-serif;
}

.footer .foot-bottom p{
  color:#fff;
  margin:0;
  padding:15px 0;
  font-size:.8em;
}

/*# sourceMappingURL=styles.css.map */
