.header {
    &__hero {
        height: auto;
        background-image: url(/img/hero.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: 50%;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        .header-main {
            .contenedor-header {
                // border: 1px solid red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 90px;
                padding: 50px 0px;
                .main-logo {
                    // border: 1px solid white;
                    a {
                        img {
                            width: 50%;
                        }
                    }
                }
                .content-menu {
                    // border: 1px solid white;
                    .main-menu {
                        margin-left: 20px;
                        .main-nav {
                            list-style: none;
                            padding: 0px;
                            display: flex;
                            flex-wrap: wrap;
                            &__item {
                                padding: 0 .8em;
                                text-transform: uppercase;
                                font-family: sans-serif;
                                font-size: .8em;
                                font-weight: 700;
                                cursor: pointer;
                                &__link {
                                    color: white;
                                    &--active {
                                        padding: 10px 20px;
                                        border-radius: 30px;
                                        background: #ffc71a;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner-main {
            color: white; //border: 1px solid red;
            text-align: center;
            font-family: sans-serif;
            position: relative;
            &__content {
                padding: 50px 0px 0px 0px; // border: 1px solid white;
                &__title {
                    margin: 0;
                    color: #ffc71a;
                }
                &__subtitle {
                    margin: 0;
                    font-size: 4em;
                }
                &__web {
                    margin: 0;
                    font-size: 1.5em;
                }
                &__img {
                    position: relative;
                    top: 150px;
                    width: 60%;
                }
            }
        }
    }
}

.information {
    background: #ffc71a;
    height: auto;
    padding: 5em 0;
    .information__content {
        padding: 0em 0;
        display: grid;
        grid-template-columns: 45% 40%;
        grid-gap: 15%;
        &__about {
            font-family: sans-serif;
            &__subtitle {
                margin: 0;
                font-size: 1.3em;
            }
            &__title {
                margin: 10px 0;
                font-size: 2em;
            }
            &__text {
                margin: 0px 0px 50px 0px;
                text-align: left;
                padding: 0px 0px 0px 0px;
                font-size: .9em;
            }
            &__button {
                text-decoration: none;
                padding: 15px 20px;
            }
        }
        &__contact {
            background: white;
            border-radius: 5px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.20), 0 5px 5px -5px rgba(0, 0, 0, 0.10);
            .contact-header {
                background: black;
                h1 {
                    padding: 15px 0px 15px 30px;
                    color: white;
                    margin: 0px;
                    span {
                        color: #ffc71a;
                    }
                }
            }
            .form-contact {
                padding: 15px 30px 15px 30px;
                .row-input {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    input,
                    select {
                        font-family: sans-serif;
                        font-weight: bold;
                        width: 150px;
                        display: block;
                        border: none;
                        margin: 15px 0px 0px 0px;
                        padding: 10px 0;
                        border-bottom: solid 1px black;
                        transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
                        background-position: -200px 0;
                        background-size: 200px 100%;
                        background-repeat: no-repeat;
                        color: black;
                        &:focus,
                        &:valid {
                            box-shadow: none;
                            outline: none;
                            background-position: 0 0;
                            &::placeholder {
                                font-family: sans-serif;
                                font-weight: bold;
                                color: black;
                                font-size: 1.2em; //transform: translateY(-20px);
                                visibility: visible !important;
                            }
                        }
                    }
                    select {
                        width: 100%;
                    }
                }
                .row-button {
                    button {
                        padding: 15px 20px;
                        margin: 30px 0px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.tariffs {
    height: 100vh;
    &__content {
        padding: 50px 0px;
        text-align: center;
        &__title {
            margin: 10px 0px;
            h1 {
                margin: 0;
            }
            h2 {
                margin: 5px 0;
            }
        }
        &__card {
            //border: 1px solid red;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2em;
            &__cards {
                //border: 1px solid red;
             
                &__back {
                    border-radius: 3px;
                    margin: 0px 0px 0px 0px;
                    background: #efefef;
                    transition: .25s ease-out;
                   
                   // border: 1px solid red;
                    font-family: sans-serif;
                    box-shadow: 0 4px 4px 0 rgba(239, 239, 239,.50), 0 1px 5px 0 rgba(0, 0, 0, 0.20), 0 5px 5px -5px rgba(0, 0, 0, 0.10);

                    padding: 0px 20px 50px 20px;
                    &:hover {
                        background: #ffc71a;
                        transition: .25s ease-out;
                    }
                    img {
                        position: relative;
                        top:-50px;
                        width: 100%;
                    }
                    h2 {
                        margin: 0;

                    }
                    p {
                        margin: 25px 0px;
                        font-size: .9em;
                
                    }
                    h4 {
                        margin: 30px 0px;
                        color: #ffc71a;
                        font-size: 2em;
                    }
                    a {
                        cursor: pointer;
                
                        padding: 15px 20px;
                    }
                    &:hover>a {
                        background: black;
                        color: white;
                        transition: .25s ease-out;
                    }
                    &:hover>h4 {
                        color: black;
                    }
                }
            }
        }
    }
}